.boardpage{
    position: absolute;
    left:300px;
}


.boardpage .content{
    position: relative;
    top:50px;
}

 .newbutton{
    position:absolute;
    left:1000px;
    top:50px;
    border-radius: 10px;
    border-style:none;
    background-color:bisque;
    width:100px;
    height:40px;
}