.match{
    margin-left:300px;
}

.match .memberbutton{
    position:absolute; 
    left: 1100px; 
    top: 20px; 
    border-style:none;
    border-radius: 10px;
    height:40px;
    width:200px;
}

.match .block .members{
    position: absolute;
    top:100px;
    left:20px;
}


.match .block .classdescription {
    position: absolute;
    left:20px;
    top:20px;
}

.match .matchedpairs{
    position:absolute;
    left:300px;
    top: 400px;

}

.match .board{
    position:absolute;
    left:300px;
    top: 400px;
}

.match .board .boardtitle{
    position:absolute;
    font-weight:bold;
}

.match .board .buttonboard{
    position: absolute;
    left:800px; 
    border-style:none;
    border-radius: 10px;
    height:40px;
    width:200px;
}

.match .block{
    position: absolute;
    top:130px;
    left:300px;
    width: 1000px;
    height:200px;
    background-color: rgb(197, 184, 206);
    border-radius:10px;
    padding:50px;
}

